*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url(../images/bg-top.svg);
    background-position-x: 20.7rem;
    background-position-y: -3.7rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--light-text-1);
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-text-2);
    font-size: 1.6rem;
}