// Global variables
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --linear-bg: linear-gradient(160deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    --light-text-1: hsl(240, 78%, 98%);
    --light-text-2: hsl(234, 14%, 74%);
    --dark-text-1: hsl(232, 13%, 33%);
    --dark-text-2: hsl(233, 13%, 49%);
    --white: linear-gradient(0deg, #fff, #fff);
}

@import "general";
@import "dashboard";
@import "media-1440";