@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
:root {
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --text-1: hsl(220, 13%, 13%);
  --text-2: hsl(219, 9%, 45%);
  --text-3: hsl(220, 14%, 75%);
  --gray-bg: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --lightbox-bg: hsl(0, 0%, 0%, .75);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Kumbh Sans", sans-serif;
}

.container {
  min-height: 100vh;
  margin: 0 auto 5%;
  width: 77.5%;
}
.container header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2.7rem 0.23rem 2.6rem;
}
.container header .left {
  display: flex;
  align-items: center;
}
.container header .left ul {
  padding-left: 2.9rem;
}
.container header .left ul li {
  position: relative;
  color: var(--text-2);
  margin-left: 2.6rem;
  display: inline-block;
  cursor: pointer;
}
.container header .left ul li:after {
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: var(--orange);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
  top: 6.6rem;
}
.container header .left ul li:hover:after {
  width: 100%;
  left: 0;
}
.container header .right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container header .right .avt {
  width: 5rem;
}
.container header .right .avt:hover {
  cursor: pointer;
  outline: 2px solid var(--orange);
  border-radius: 50%;
}
.container header .right .cart {
  cursor: pointer;
  margin-right: 4.6rem;
}
.container header .right .cart .cart-detail {
  position: absolute;
  left: 50%;
  width: 50rem;
  height: 40rem;
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container .line {
  margin-top: 1rem;
  height: 0.05rem;
  background-color: var(--text-3);
}
.container .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 9rem;
  padding: 0 4.8rem;
}
.container .wrapper .image {
  width: 100%;
}
.container .wrapper .image .image-main {
  width: 100%;
  border-radius: 1.5rem;
}
.container .wrapper .image .image-main:hover {
  cursor: pointer;
}
.container .wrapper .image .image-sub {
  display: flex;
  gap: 3.2rem;
  justify-content: space-between;
}
.container .wrapper .image .image-sub .focus {
  outline: var(--orange) solid 0.3rem;
  opacity: 0.4;
}
.container .wrapper .image .image-sub img {
  margin-top: 2.6rem;
  width: 8.8rem;
  border-radius: 1.2rem;
}
.container .wrapper .image .image-sub img:hover {
  cursor: pointer;
}
.container .wrapper .information {
  padding: 6.1rem 0 5.2rem 12rem;
}
.container .wrapper .information .brand {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--orange);
  line-height: 1.05;
}
.container .wrapper .information .title {
  line-height: 1.1;
  margin-top: 2rem;
  font-size: 4.4rem;
}
.container .wrapper .information .param {
  color: var(--text-2);
  line-height: 1.6;
  margin-top: 3.3rem;
  font-weight: 400;
}
.container .wrapper .information .sale-price {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  font-size: 3.1rem;
  font-weight: 700;
  color: var(--text-1);
}
.container .wrapper .information .sale-price .discount {
  color: var(--orange);
  background-color: var(--pale-orange);
  font-size: 1.6rem;
  margin-left: 1.2rem;
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
}
.container .wrapper .information .full-price {
  margin-top: 0.8rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--text-3);
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.container .wrapper .information .bottom {
  display: flex;
  margin-top: 3.8rem;
  gap: 4%;
  width: 100%;
}
.container .wrapper .information .bottom .quantity-bar {
  display: flex;
  align-items: center;
  background-color: var(--gray-bg);
  justify-content: space-between;
  border-radius: 1rem;
  width: 36%;
  padding: 1.5rem 1.4rem;
}
.container .wrapper .information .bottom .add-cart {
  background-color: var(--orange);
  border-radius: 1rem;
  width: 63%;
  display: flex;
  justify-content: center;
  padding: 1.8rem 1.4rem;
  align-items: center;
  gap: 1.2rem;
}
.container .wrapper .information .bottom .add-cart p {
  color: var(--white);
  font-weight: 700;
}
.container .wrapper .information .bottom .add-cart img {
  height: 1.5rem;
  filter: brightness(3);
}/*# sourceMappingURL=style.css.map */