// Global variables
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    // Primary
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
    // Neutral
    --text-1: hsl(220, 13%, 13%);
    --text-2: hsl(219, 9%, 45%);
    --text-3: hsl(220, 14%, 75%);
    --gray-bg: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --lightbox-bg: hsl(0, 0%, 0%, .75);
}

@import "general";
@import "dashboard";